html,body{margin:0;padding:0}
body{font: 90% Verdana;text-align:center;}
p{margin:0 10px 10px}
a{padding:5px; text-decoration:none; color: #0000ff;}

.aright{margin:0; text-align:right; margin-right: 1em}

div#header{padding-left:1em; background-color: #709b2b;}
div#header a{font: 70% Verdana;text-align:center}
div#header h1{height:80px;line-height:80px;margin:0;padding-left:10px;}

div#signboard{font: 1.5em Verdana;padding-left:1em; background-color: #e2eb00;}

div#container{width:460px;margin:0 auto;box-shadow: 10px 10px 5px #888888;}
div#container{text-align:left}

div#content{float:right;width:330px}
div#content p{margin:0; line-height:1.4}
div#content h3 {
    border-style: solid;
    border-width: 1px;
    border-color: #cacd75;
    background-color: #cacd75;
}

div#content ul.anag {
    float: left;
    width: 100%;
    padding: 0.2em;
    margin: 0.1em;
    list-style-type: none;
}
div#content li.anag {
    display: inline;
    padding: 0.2em;
    margin: 0.1em;
    border-style: solid;
    border-width: 1px;
    border-color:#CCC8B3;
}
div#content li.anag_label {
    display: inline;
    padding: 0.2em;
    text-align: left;
    border-style: solid;
    border-width: 1px;
    border-color: #cacd75;
    background-color: #cacd75;
}
div#content li.elenco {
    list-style-type: none;
    border-style: solid;
    border-width: 1px;
    border-color: #CCC8B3;
}

div#navigation{float:left;width:120px}
div#navigation{background: #cacd75;}
div#navigation ul{margin:15px 0; padding:0; list-style-type:none;}
div#navigation li{padding-left: 0.5em; margin-bottom:5px;}

div#extra{float:right;width:400px}
div#extra{background:#CCC8B3;}

div#footer{background: #709b2b;}
div#footer p{margin:0;padding:5px 5px}
div#footer{clear:both;width:100%}