html,body{margin:0;padding:0}
body{font: 90% Verdana;text-align:center}
p{margin:0 10px 10px}
a{padding:5px; text-decoration:none; color: #0000ff;}

.aright{text-align:right; margin-right: 1em}

div#header{padding-left:1em; background-color: #709b2b;}
div#header a{font: 70% Verdana;text-align:center}
div#header h1{height:80px;line-height:80px;margin:0;padding-left:10px;}

div#signboard{font: 1.5em Verdana;padding-left:1em; background-color: #e2eb00;}

div#login{font: 0.8em Verdana; padding-left:1em; line-height:1.8; text-align:right; background-color: #cacd75}

div#container{width:680px; margin:0 auto; text-align:left; background-color: #e6e6e6}

div#content{margin: 1em; width:auto; border: 1em; box-shadow: 10px 10px 5px #888888;}
div#content p{margin:0; line-height:1.4;}
div#content h3 {
    border-style: solid;
    border-width: 1px;
    border-color: #cacd75;
    background-color: #cacd75;
}

div#content ul.anag {
    float: left;
    width: 100%;
    padding: 0.2em;
    margin: 0.1em;
    list-style-type: none;
}
div#content li.anag {
    display: inline;
    padding: 0.2em;
    margin: 0.1em;
    background-color: #ffffff;
    border-style: solid;
    border-width: 1px;
    border-color:#CCC8B3;
}
div#content li.anag_label {
    display: inline;
    padding: 0.2em;
    text-align: left;
    border-style: solid;
    border-width: 1px;
    border-color: #cacd75;
    background-color: #cacd75;
}
div#content li.elenco {
    list-style-type: none;
    border-style: solid;
    border-width: 1px;
    border-color: #CCC8B3;
}

div#content table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
}
div#content td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
div#content tr:nth-child(even) {
    background-color: #dddddd;
}

div#navigation{background: #cacd75;}
/*div#navigation a{text-decoration: none;}*/
/*div#navigation ul{margin:15px 0; padding:0; list-style-type:none;}*/
/*div#navigation li{padding-left: 0.5em; margin-bottom:5px;}*/

/* Inizio menu */

/* Struttura menu */

.nav {
    list-style:none;
    margin:0;
    padding: 0;
}

.nav > li, .nav > li > a {
    display:inline-block;
    *display:inline; /* Per IE7 */
    zoom:1; /* Per IE 7 */
}

.stacked > li {display:list-item;}

.stacked > li > a {display:block;}

.flyout, .flyout-alt {position:relative;}

.flyout-content {
    position:absolute;
    top:100%;
    left:-99999px; /* Posizioniamo i sottomenu fuori dallo schermo; alternativa a display:none */
    height:0;
    overflow:hidden;
}

.flyout:hover > .flyout-content {left:0;}

.flyout-alt:hover > .flyout-content {
    top:0;
    left:100%;
}

.flyout:hover > .flyout-content,
.flyout-alt:hover > .flyout-content {
    height:auto;
    overflow:visible;
}

/* Fine struttura menu */

/* Aspetto menu */

.site-nav a {
    line-height:1;
    padding:1em;
    background-color: #cacd75; /* Colore di sfondo iniziale */
    color: #000000; /* Colore del testo dei link */
    font-weight: bold;
    white-space:nowrap;
}

.site-nav .flyout:hover > a,
.site-nav .flyout-alt:hover > a,
.site-nav a:hover {
    background-color: #e2eb00; /* Colore di sfondo sull'hover */
}

.site-nav .flyout-alt > a:after {content:" »";} /* Inseriamo l'indicatore di presenza del sotto-menu */

.site-nav a,
.site-nav .flyout-content {
    border: 0px solid #709b2b; /* Colore e stile dei bordi; azzeriamo lo spessore con 0px */
}

.site-nav > li > a {/*border-left-width:1px;*/} /* Bordo sinistro sulle voci del menu principale */

.site-nav > li:first-child > a {border:none;} /* Eliminiamo il bordo dalla prima voce del menu */

.site-nav .flyout-content {border-width:1px 0 0 0;} /* Bordo superiore per il sottomenu */

.site-nav .flyout-content a {border-bottom-width:1px;} /* Bordo inferiore per le singole voci del sottomenu */

.site-nav .flyout-alt:hover > .flyout-content {top:-1px;}​ /* Un piccolo aggiustamento per la posizione del sottomenu sull'hover */

/* Fine aspetto menu */

/* Fine menu */

div#extra{float:right;width:400px}
div#extra{background:#CCC8B3;}

div#footer{background: #709b2b;}
div#footer p{margin:0; padding:5px 5px}
div#footer{clear:both; width:100%}

